/* Navigation Style */
.app-title-box > p::after{
    display: block;
    content: 'AP Purchase';
}

.app-title-box > .cl3t-deco{
    width: 34%;
}

/* Tab Style */
.cl-window-box > .clwb-appurchase-box{ /* Size of Popup Box */
    width: 40%;
    height: 60%;
}

.cl1bb-container > .container-ap-purchase{ /* Setup fixed Size of Inner Box */
    width: 100%;
    height: 100%;
}

.container-ap-purchase > .cl3cb-appurchase-content{ /* Setup for Content Box */
    width: calc(100% - 6vh);
    height: calc(100% - 6vh);
    display: grid;
    grid-template-areas: 
        'top top' 
        'center-top center-top' 
        'center-bottom-left center-bottom-right' 
        'bottom bottom';
    grid-template-rows: calc(30% - 1.2vh) calc(22% - 1.2vh) calc(15% - 1.2vh) calc(33% - 1.2vh);
    gap: 10px;
    padding: 3vh;

    .cl4ab-description-box{
        grid-area: top;
        text-align: center;

        .title{
            height: calc(60% - 2.5vh);
            font-size: 1.8rem;
            padding-top: 2.5vh;
        }

        .desc{
            height: 40%;
            font-size: 1.1rem;
            font-family: 'Main Bold';
        }
    }
    
    .cl4ab-ap-control-box{ 
        grid-area: center-top;
        border-radius: 1.5vh;
        overflow: hidden;
        display: flex;
        border: 1px #B4C1C4 solid;
        padding: 0 1vh 0 1vh;

        .min-btn-box,
        .max-btn-box{
            width: 22%;
            height: 100%;
        }

        .decrease-btn-box,
        .increase-btn-box{
            width: 18%;
            height: 100%;
        }

        .cb-box > .content{
            width: 100%;
            height: calc(100% - 2.3vh);
            text-align: center;
            padding-top: 2.3vh;
            font-size: 1.3rem;
            color: #828282;
            transform: translateY(-100%);
            font-family: 'Wolf';
        }

        .pyroxene-display-box{
            width: 55%;
            height: 100%;

            .deco{
                width: 100%;
                height: 100%;

                img{
                    height: calc(100% - 0.5vh);
                    margin: auto;
                    transform: translateY(-92%) translateX(-25%);
                }

                .box{
                    width: calc(95% - 2.4vh);
                    height: calc(80% - 2.4vh);
                    background-color: #435266;
                    transform: skew(-11deg);
                    border-radius: 0.7vh;
                    margin: 1.2vh;
                    margin-top: 2vh;
                    float: right;
                }
            }

            .content-box{
                width: calc(95% - 2.4vh);
                height: calc(80% - 2.4vh);
                transform: translateY(-188%);
                border-radius: 0.7vh;
                margin: 1.2vh;
                margin-top: 2vh;
                float: right;
                display: flex;

                .ap-before,
                .ap-after{
                    width: 38%;
                    height: calc(100% - 1.2vh);
                    color: #FFFFFF;
                    font-size: 0.9rem;
                    padding-top: 1.2vh;
                }

                .ap-before{
                    text-align: right;
                }

                .ap-after{
                    text-align: left;
                }

                img{
                    width: 12%;
                    height: 100%;
                    color: #FFFFFF;
                    margin-left: 0vw;
                    margin-right: 2vw;
                    transform: rotate(-90deg) translateY(2.5vh);
                }
            }
        }

        .min-btn-box > .deco,
        .max-btn-box > .deco,
        .increase-btn-box > .deco,
        .decrease-btn-box > .deco{
            width: calc(100% - 2.4vh);
            height: calc(100% - 2.4vh);
            background-color: #CDCDCD;
            transform: skew(-11deg);
            border-radius: 0.7vh;
            margin: 1.2vh;

            &&:active{
                width: calc(100% - 2.4vh);
                height: calc(100% - 2.4vh);
                background-color: #faeb4b;
                transform: skew(-11deg);
                border-radius: 0.7vh;
                margin: 1.2vh;
            }
        }
    }
    
    .cl4ab-per-unit-price-box{ 
        grid-area: center-bottom-left;
        border-radius: 1.5vh;
        overflow: hidden;
        display: flex;
        border: 1px #B4C1C4 solid;

        .text{
            background-color: #D0EEFD;
        }

        .text,
        .per-unit-price{
            width: 50%;
            height: calc(100% - 1.5vh);
            text-align: center;
            padding-top: 1.5vh;
            font-size: 1rem;
            font-weight: bold;
        }
    }
    
    .cl4ab-total-price-box{ 
        grid-area: center-bottom-right;
        border-radius: 1.5vh;
        overflow: hidden;
        display: flex;
        border: 1px #B4C1C4 solid;

        .text{
            background-color: #faeb4b;
        }

        .text,
        .total-price{
            width: 50%;
            height: calc(100% - 1.5vh);
            text-align: center;
            padding-top: 1.5vh;
            font-size: 1rem;
            font-weight: bold;
        }
    }
    
    .cl4ab-action-button-box{ 
        grid-area: bottom;
        display: flex;
        padding: 3vh 0vh 3vh 11vh;

        .cancel-btn-box,
        .okey-btn-box{
            width: 38%;
            height: 100%;
            margin: 0 2vh 0 2vh;

            .deco{
                width: 100%;
                height: 100%;
                transform: skew(-10deg);
                border-radius: 1.2vh;
                box-shadow: 0 0.3vh 0.4vh rgb(119, 119, 119);
            }

            .content{
                width: 100%;
                height: calc(100% - 2vh);
                transform: translateY(-200%);
                text-align: center;
                padding-top: 2vh;
                font-size: 1.4rem;
                font-weight: bold;
                font-family: 'Wolf';
            }
        }

        .cancel-btn-box{
            .deco{
                background-color: #DAEDF4;
            }

            .deco-effect{
                height: 100%;
                width: 100%;
                background-image: url(../../../../../Assets/UI/Decoration/button-poly-02.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
                transform: translateY(-100%) translateX(5%);
            }
        }

        .okey-btn-box{
            .deco{
                background-color: #F2E755;
            }

            .deco-effect{
                height: 100%;
                width: 100%;
                background-image: url(../../../../../Assets/UI/Decoration/button-poly-03.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
                transform: translateY(-100%) translateX(5%);
            }
        }
    }
}
