/* Navigation Style */
.ps-title-box > p::after{
    display: block;
    content: 'Buy Pyroxene';
}

.ps-title-box > .cl3t-deco{
    width: 27%;
}

/* Tab Style */
.cl-window-box > .clwb-pyroxene-shop-box{ /* Size of Popup Box */
    width: 50%;
    height: 70%;
}

.cl2c-content-box > .container-pyroxene-shop{
    position: relative;
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
    margin: 1vh;
    border-radius: 0.7vh;
    background-color: #A9DFF4;
    z-index: 2;

    .cl4psc-nav-bar{
        width: calc(100% - 2.4vh);
        height: 7vh;
        padding: 1vh 1.2vh 0vh 1.2vh;
        display: flex;
        pointer-events: all;

        .cl5nb-tab-box{
            width: 50%;
            height: calc(100% - 2vh);
            color: black;
            border-radius: 1vh 1vh 0 0;
            text-align: center;
            font-family: 'Main Bold';
            font-size: 1.1rem;
            padding-top: 2vh;
            opacity: 0.7;
            background-color: transparent;
        }

        .cl5nb-tab-selected{
            opacity: 1;
            background-color: white;
        }
    }

    .cl4psc-container-box{
        width: calc(100% - 1.2vh);
        height: calc(100% - 9.6vh);
        background-color: white;
        border-radius: 1vh;
        margin: 0 0.1vh 0.1vh 0.1vh;
        padding: 1vh 0.5vh 0.5vh 0.5vh;
        overflow: hidden;

        .specials-container-outer,
        .pyroxene-container-outer,
        .packages-container-outer{
            border-radius: 0.7vh;
            background-color: #D8DADC;

            p{
                text-align: center;
            }
        }

        .specials-container-outer{
            width: calc(100% - 1vh);
            height: calc(100% - 2vh);
            padding: 1vh 0.5vh 1vh 0.5vh;
            display: none;
            overflow: hidden;
        }

        .specials-container{
            width: calc(100% - 0vh);
            height: calc(100% - 0vh);
            overflow: auto;
        }

        .pyroxene-container-outer{
            width: calc(100% - 1vh);
            height: calc(100% - 2vh);
            padding: 1vh 0.5vh 1vh 0.5vh;
            overflow: hidden;

            .pyroxene-container{
                width: calc(100% - 0vh);
                height: calc(100% - 0vh);
                display: inherit;
                overflow: auto;

                .cl7pc-pc-lines{
                    width: 100%;
                    height: 80%;
                    display: flex;
                    margin-bottom: 1vh;
    
                    .pyroxene-items{
                        width: 32%;
                        height: 100%;
                        background-image: url(../../../../../Assets/UI/Decoration/item-bg-deco-01.png);
                        background-position: top;
                        background-repeat: no-repeat;
                        background-size: contain;
                        overflow: hidden;
                        border-radius: 1.5vh;
                        box-shadow: 0 0.3vh 0.5vh rgb(148, 148, 148),
                                    inset 0.2vh 0.2vh 0.1vh rgb(255, 255, 255);
                        margin: auto;
    
                        .deco{
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(rgba(255, 255, 255, 0),rgb(255, 255, 255));
                        }
    
                        .container{
                            width: 100%;
                            height: calc(100% - 1.5vh);
                            transform: translateY(-100%);
                            padding-top: 1.5vh;
    
                            .pi1-title{
                                width: 100%;
                                height: 15%;
                                text-align: center;
                                font-size: 1rem;
                                font-family: 'Main Bold';
                                color: #2e4864;
    
                                p{
                                    margin-top: 0.3vh;
                                    margin-bottom: 0.1vh;
                                    font-size: 0.8rem;
                                    font-family: 'Main Bold';
                                }
                            }
    
                            .pi1-line{
                                width: calc(100% - 4vh);
                                height: 0.1vh;
                                margin: 0 2vh 0 2vh;
                                background-color: #2D4663;
                                box-shadow: 0 0 0.2vh #2D4663;
                                opacity: 0.3;
                            }
    
                            .pi1-icon-box{
                                width: calc(100% - 2vh);
                                height: 50%;
                                padding: 1vh 4vh 0 4vh;
                                display: flex;
    
                                img{
                                    height: 100%;
                                    align-items: center;
                                }
                            }
    
                            .pi1-hint{
                                width: 100%;
                                height: calc(8% - 0.25vh);
                                transform: translateY(-100%);
                                background-color: #29415B;
                                text-align: center;
                                color: white;
                                font-size: 0.9rem;
                                padding-top: 0.25vh;
                            }
    
                            .pi1-btn-box{
                                width: calc(100% - 10vh);
                                height: calc(35% - calc(9% + 0.3vh));
                                padding: 0 5vh 0 5vh;
    
                                .deco{
                                    position: relative;
                                    width: 100%;
                                    height: calc(90% - 1vh);
                                    transform: translateY(-20%) skew(-9deg);
                                    border-radius: 1.2vh;
                                    box-shadow: 0 0.3vh 0.5vh rgb(125, 125, 125);
                                    background-color: #77DDFF;
                                    padding-top: 1vh;
                                    z-index: 1;
                                }
    
                                img{
                                    position: relative;
                                    height: calc(92% - 0vh);
                                    transform: translateY(-118%) translateX(7%);
                                    float: right;
                                    z-index: 2;
                                }
    
                                .value-box-deco{
                                    position: relative;
                                    width: calc(100% - 2.4vh);
                                    height: 40%;
                                    margin: 0 1.2vh 0 1.2vh;
                                    background-color: #2D4663;
                                    border-radius: 0.6vh;
                                    transform: translateY(-517%) translateX(1%) skew(-9deg);
                                    z-index: 3;
                                }
    
                                .container{
                                    position: relative;
                                    width: 100%;
                                    height: 92%;
                                    transform: translateY(-183%);
                                    border-radius: 1.2vh;
                                    z-index: 4;
    
                                    .value-box{
                                        width: calc(100% - 2.4vh);
                                        height: 44%;
                                        margin: 0 1.2vh 0 1.2vh;
                                        border-radius: 0.6vh;
                                        transform: translateY(0.5vh) translateX(0.3vh);
                                        display: flex;
    
                                        .currency-text{
                                            width: 5vh;
                                            height: calc(100% - 2.4vh);
                                            padding: 1.2vh 0 1.2vh 0;
                                            font-size: 0.6rem;
                                            letter-spacing: -1.1px;
                                            text-align: center;
                                            color: #74DCFF;
                                        }
    
                                        .value{
                                            width: calc(100% - 10vh);
                                            height: calc(100% - 2vh);
                                            padding: 1vh 0 1vh 0;
                                            font-size: 0.8rem;
                                            text-align: center;
                                            color: white;
                                        }
                                    }
    
                                    .text{
                                        width: calc(100% - 0vh);
                                        height: calc(50% - 2vh);
                                        padding: 1vh 0 1vh 0;
                                        font-size: 1.1rem;
                                        text-align: center;
                                        color: #2D4663;
                                        font-family: 'Main Bold';
                                    }
                                }
                            }
                        }
                    }
    
                    .pyroxene-items:last-of-type{
                        margin: 0 0 0 0.8vh;
                    }
                }
            }
        }

        .packages-container-outer{
            width: calc(100% - 1vh);
            height: calc(100% - 2vh);
            padding: 1vh 0.5vh 1vh 0.5vh;
            overflow: hidden;
            display: none;
        }

        .packages-container{
            width: calc(100% - 0vh);
            height: calc(100% - 0vh);
            overflow: auto;
        }
    }
}
