/* Navigation Style */
.sdb-title-box > p::after{
    display: block;
    content: 'Select Duty';
}

.sdb-title-box > .cl3t-deco{
    width: 19%;
}

/* Tab Style */
.cl-window-box > .clwb-select-duty-box{ /* Size of Popup Box */
    width: 60%;
    height: 80%;
}

.cl1bb-container > .container-select-duty{ /* Setup fixed Size of Inner Box */
    width: 100%;
    height: 100%;
}
